<div class="text-layout">
    <h1>Pipes Básicos</h1>
    <p>
        Pipes incluidos en Angular - Usualmente en el Common Module
    </p>
</div>

<div class="grid">

    <div class="col-4">
        <p-card header="UpperCase"
                [subheader]="nombreLower">
            {{ nombreLower | uppercase }}
        </p-card>
    </div>

    <div class="col-4">
        <p-card header="LowerCase"
                [subheader]="nombreUpper">
            {{ nombreUpper | lowercase }}
        </p-card>
    </div>

    <div class="col-4">
        <p-card header="TitleCase"
                [subheader]="nombreCompleto">
            {{ nombreCompleto | titlecase }}
        </p-card>
    </div>

</div>

<div class="text-layout">
    <h1>Date | Fecha | Pipe</h1>
    <p>
        Pipes para mostrar las fechas.
    </p>
</div>

<div class="grid">

    <div class="col-6">
        <p-card>
            <ul>
                <li> Fecha </li>
                <li> Fecha | date </li>
                <li> Fecha | date: 'short' </li>
                <li> Fecha | date: 'long' </li>
                <li> Fecha | date: 'dd/MM/yy, GG' </li>
                <li> Fecha | date: 'MMMM dd, mm:ss' </li>
            </ul>

            <hr>
            <ul>
                <li> fecha | date: 'long': 'GMT-6' </li>
                <li> fecha | date: 'long': 'GMT+4' </li>
                <li> fecha | date: 'long': '':'fr' </li>
            </ul>

        </p-card>
    </div>

    <div class="col-6">
        <p-card>
            <ul>
                <li> {{ fecha }} </li>
                <li> {{ fecha | date }} </li>
                <li> {{ fecha | date: 'short' }} </li>
                <li> {{ fecha | date: 'long' }} </li>
                <li> {{ fecha | date: 'dd/MM/yy, GG' }} </li>
                <li> {{ fecha | date: 'MMMM dd, mm:ss' }} </li>
            </ul>

            <hr>
            <ul>
                <li> {{ fecha | date: 'long': 'GMT-6' }} </li>
                <li> {{ fecha | date: 'long': 'GMT+4' }} </li>
                <!-- Hay que hacer la importación del francés en el app component para que funcione el idioma -->
                <li> {{ fecha | date: 'long': '':'fr' }} </li> 
            </ul>
        </p-card>
    </div>

</div>