#pageWrapper{
  display: flex;
  flex-direction: column;
  position: relative;
}

#header{
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#header img{
  width: 400px;
  justify-self: flex-start;
}

#nav-bar{
  justify-self: flex-end;
}

#nav-bar ul{
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-around;
}

#content{
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media (max-width: 500px){
  nav > ul {
    flex-direction: column;
  }
}