<div class="content">

    <div class="container">
    
        <div class="traffic-light">
    
            <div  class="light"
                [ngClass]="encendido && color=='Rojo' ? 'red' : 'off'">
            </div>
            <div  class="light"
                [ngClass]="encendido && color=='Amarillo' ? 'yellow' : 'off'">
            </div>
            <div  class="light"
                [ngClass]="encendido && color=='Verde' ? 'green' : 'off'">
            </div>
    
        </div>
    
        <div class="controlador">
    
            <h1>Controlador</h1>
            <div class="selectOptions">
    
                <p-dropdown class="form-control"
                            [(ngModel)]="light"
                            (onChange)="changeColor()"
                            [options]=lights>
    
                </p-dropdown>

                <div class="field-checkbox">
                    <p-checkbox id="check"
                                class="form-check-input"
                                [(ngModel)]="encendido"
                                (change)="changeCheck()"
                                [binary]="true">
                    </p-checkbox>

                    <label for="check">Encendido / Apagado</label>

                </div>

            </div>

        </div>

    </div>

</div>