<h2>Validaciones Reactivas</h2>
<hr>

<div class="row">
    <div class="col">

        <form autocomplete="off" 
              [formGroup]="miFormulario"
              (ngSubmit)="submitFormulario()">

            <!-- Nombre -->
            <div class="row mb-3">

                <label class="col-sm-3 col-form-label">Nombre</label>
                <div class="col-sm-9">

                    <input type="text"
                            class="form-control"
                            formControlName="nombre"
                            placeholder="Nombre del usuario">

                    <span class="form-text text-danger"
                          *ngIf="campoNoValido('nombre')">
                        Debe ser en formato de nombre y apellido.
                    </span>

                </div>

            </div>

            <!-- Email -->
            <div class="row mb-3">

                <label class="col-sm-3 col-form-label">Email</label>
                <div class="col-sm-9">

                    <input type="email"
                            class="form-control"
                            formControlName="email"
                            placeholder="Nombre del usuario">

                    <span class="form-text text-danger"
                          *ngIf="campoNoValido('email')">
                        {{ emailErrorMsj }}
                    </span>
                    
                </div>

            </div>

            <!-- Username -->
            <div class="row mb-3">

                <label class="col-sm-3 col-form-label">Username</label>
                <div class="col-sm-9">

                    <input type="text"
                            class="form-control"
                            formControlName="userName"
                            placeholder="UserName">

                    <span class="form-text text-danger"
                          *ngIf="campoNoValido('userName')">
                        El UserName no puede ser Irathor
                    </span>
                    
                </div>
                
            </div>

            <!-- Password -->
            <div class="row mb-3">

                <label class="col-sm-3 col-form-label">Contraseña</label>
                <div class="col-sm-9">

                    <input type="password"
                            class="form-control"
                            formControlName="password"
                            placeholder="Contraseña">

                    <span class="form-text text-danger"
                          *ngIf="campoNoValido('password')">
                        La contraseña debe ser mayor de 6 caracteres
                    </span>
                    
                </div>
                
            </div>

            <!-- Confirmar la contraseña -->
            <div class="row mb-3">

                <label class="col-sm-3 col-form-label">Repetir Contraseña</label>
                <div class="col-sm-9">

                    <input type="password"
                            class="form-control"
                            formControlName="password2"
                            placeholder="Confirmar la Contraseña">

                    <span class="form-text text-danger"
                          *ngIf="campoNoValido('password2')">
                        Las contraseñas deben ser iguales
                    </span>
                    
                </div>
                
            </div>

            <!-- Botones -->
            <div class="row">
                <div class="col">
                    <button class="btn btn-primary float-end"
                            [disabled]="miFormulario.pending"
                            type="submit">
                        Crear
                    </button>
                </div>
            </div>

        </form>

    </div>
</div>

<h2>Form Valid: <small>{{ miFormulario.valid }}</small></h2>
<h2>Form Status: <small>{{ miFormulario.status }}</small></h2>
<h2>Form Pending: <small>{{ miFormulario.pending }}</small></h2>
<h2>Form Errors: <small>{{ miFormulario.errors |json }}</small></h2>

<h5>Nombre:</h5>
<pre>{{ miFormulario.controls['nombre'].errors | json }}</pre>

<h5>Email:</h5>
<pre>{{ miFormulario.controls['email'].errors | json }}</pre>

<h5>Username:</h5>
<pre>{{ miFormulario.controls['userName'].errors | json }}</pre>

<h5>Password:</h5>
<pre>{{ miFormulario.controls['password'].errors | json }}</pre>

<h5>Confirmar:</h5>
<pre>{{ miFormulario.controls['password2'].errors | json }}</pre>