#navbar{
  position: fixed;
  min-width: 290px;
  top: 10px;
  left: 10px;
  width: 300px;
  height: 100%;
}

#main-doc {
  position: absolute;
  margin-left: 200px;
  padding: 20px;
}

@media (max-width: 400px){
  #main-doc {
    margin-left: -10px;
  }
}